// Color Utility


// Options

$iota-utils-color: true;

$iota-utils-color-namespace: 'color-' !default;

$iota-utils-color-names: () !default;

$iota-utils-color-use-variable-names: false !default;


// Helper Local Variables

$iota-utils-color-var-color: $iota-global-utilities-namespace + $iota-utils-color-namespace;


// Color Utilities

@each $color-name, $color-value in $iota-utils-color-names {

  @if $iota-utils-color-use-variable-names {
    .#{$iota-utils-color-var-color + $color-name} {
      color: --#{$color-name} !important;
    }
  } @else {
    .#{$iota-utils-color-var-color + $color-name} {
      color: #{$color-value} !important;
    }
  }
}
